<header>
    <nav>
        <div class="logo"><h1>Mi pagina personal</h1></div>
        
        <div class="links">
            <ul>
                <li><a routerLink=''>Inicio</a></li>
                <li><a routerLink="">Galeria</a></li>
                <li><a routerLink="">Hobies</a></li>
                <li><a routerLink="">Contactos</a></li>
                <li><a routerLink="">P.Profesional</a></li>
            </ul>
        </div>

        <div class="login-sec"> 
            <button routerLink="/login">Login</button>
        </div>
    
    </nav>
</header>