<footer class="w-full bg-blue-950 pb-12">
  
    <div class="w-full container mx-auto flex flex-col items-center text-white">
        <div class="flex flex-col md:flex-row text-center md:text-left md:justify-between py-6">
            <a class="uppercase px-3">Politica de privacidad</a>
            <a class="uppercase px-3">Terminos y condiciones</a>
            <a href="https://www.upds.edu.bo/" class="uppercase px-3">Contactanos</a>
        </div>
        <div class="uppercase pb-6">&copy; upds.edu.bo</div>
    </div>
</footer>