<section class="w-full flex flex-col items-center">
    @for (post of post(); track post.id){
        <article class="flex flex-col-3 shadow my-4 p-4 w-3/4">
                  
            <a class=" h-auto flex items-center justify-center bg-gray-100 p-4 w-2/4">
        
                <img class="max-w-full max-h-screen object-contain " src="{{post.enlace}}">
            </a>
            <div class="bg-white flex flex-col justify-start p-6 w-2/4">
                <a href="/inscripciones" class="text-blue-700 text-sm font-bold uppercase pb-4">{{post.usuario}}</a>
                <a href="/inscripciones" class="text-3xl font-bold hover:text-gray-700 pb-4">
                    {{post.titulo}}
                </a>
                <p class="text-sm pb-3">
                    Publicado el <span class="font-semibold">{{post.fecha}}</span>. 
                </p>
                <p class="pb-6">
                    {{post.texto}}</p>
                <p class="px-6">
                    {{post.like}}
                </p>
               <div class="items-center">
                <button (click)="meGusta(post.id,post.titulo,post.usuario,post.texto,post.fecha,post.enlace,post.like)" class="px-4 ">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-heart"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
                   </button>
                   <button class="px-4">
                    comentar
                   </button>
               </div>
            </div>
            
        </article>
    }
    
  </section>
