<app-head></app-head>

<body class="bg-white font-family-karla">

    <div class="container mx-auto flex flex-wrap py-6">

        <section class="flex flex-col items-center justify-center min-h-screen bg-gray-100 px-3">

            <article class="flex flex-col-3 shadow my-4 p-4">
                
                <a class="h-screen h-auto w-max flex items-center justify-center bg-gray-100 p-4">

                    <img class="max-w-full max-h-screen object-contain " src="https://scontent.fcuz2-1.fna.fbcdn.net/v/t39.30808-6/469079463_982847323874672_6959312071783410505_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeH15umKUM8o-U4kKA8Eg3gtBbWfR4q4OoQFtZ9Hirg6hKEXO1M7tB_24Y0YfUHtJ331eF7Z948mimLglKrtmXhz&_nc_ohc=df2E4TVzZTcQ7kNvgHU3ocv&_nc_zt=23&_nc_ht=scontent.fcuz2-1.fna&_nc_gid=AfiHPl421qZyPzkOWO2zEZE&oh=00_AYCt0iA6g_F6cPrCiPxhKdXyOy6zcMXrn9vafPJ2XXblDg&oe=675EAC47">
                </a>
                <div class="bg-white flex flex-col justify-start p-6">
                    <a href="/inscripciones" class="text-blue-700 text-sm font-bold uppercase pb-4">Asesoria de servicios estudiantiles</a>
                    <a href="/inscripciones" class="text-3xl font-bold hover:text-gray-700 pb-4">
                        Sede Cochabamba
                    </a>
                    <p class="text-sm pb-3">
                        Publicado el <span class="font-semibold">2 de diciembre de 2024</span>. 
                    </p>
                    <p class="pb-6">
                        La Universidad Privada Domingo Savio (UPDS) en Cochabamba está en proceso de incorporar un Asesor de Servicios Estudiantiles. Los interesados pueden postularse a través de la página oficial de la universidad en Facebook.
                    </p>
                    <p class="pb-6">
                        Para obtener más información sobre los servicios ofrecidos a los estudiantes, como acompañamiento y asesoramiento en diversas áreas, asistencia psicológica y otros beneficios, puedes visitar la sección de Bienestar Estudiantil en el sitio web oficial de la UPDS.
                    </p>
                    <a href="https://drive.google.com/file/d/1th5BhDAxlnuN60V745TzI-7LaQMbhQLx/view?fbclid=IwY2xjawHFoytleHRuA2FlbQIxMAABHaLEykZ4YIWslIzlQAQmbbdbCE4UIXUCVD_4W2dkigbq2GyxEF6B1F7Nmw_aem_L6PyWTWe75SMwEUgyBRJCA">
                        Mas informacion <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
                
            </article>
            
            <article class="flex flex-col-3 shadow my-4 p-4">
                
                <a class="h-screen h-auto w-max flex items-center justify-center bg-gray-100 p-4">

                    <img class="max-w-full max-h-screen object-contain " src="https://scontent.fcuz2-1.fna.fbcdn.net/v/t39.30808-6/469867186_987678590058212_3652403472614844856_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeGwF7nN3qdZiAHlyJuBTN6A0jO2K1Deu6XSM7YrUN67pVM9gpY8Lxv4hVBjl3H2bxpdFCMJltMMvPc48BMJCBL-&_nc_ohc=_RA2YtLpt60Q7kNvgGoFV-Z&_nc_zt=23&_nc_ht=scontent.fcuz2-1.fna&_nc_gid=ALw3_YyhBg0dVTfZ0TJT2Ko&oh=00_AYASYELWHFi6DLDm3c3QS61tvv3CKpkasCoOlKjag4pHfg&oe=675E7B99">
                </a>
                <div class="bg-white flex flex-col justify-start p-6">
                    <a href="/inscripciones" class="text-blue-700 text-sm font-bold uppercase pb-4">Inscripciones Abiertas</a>
                    <a href="/inscripciones" class="text-3xl font-bold hover:text-gray-700 pb-4">
                        ¡Forma parte de la Universidad Privada Domingo Savio!
                    </a>
                    <p class="text-sm pb-3">
                        Publicado el <span class="font-semibold">10 de diciembre de 2024</span>. 
                    </p>
                    <p class="pb-6">
                        Las inscripciones para el siguiente semestre académico ya están abiertas. 
                        Descubre todas las oportunidades académicas, programas de estudio y beneficios que te ofrece la Universidad Privada Domingo Savio en Cochabamba. ¡No pierdas la oportunidad de construir tu futuro con nosotros!
                    </p>
                    <a href="/inscripciones" class="uppercase text-gray-800 hover:text-black font-bold">
                        Ir a Inscripciones <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
                
            </article>


            <article class="flex flex-col-3 shadow my-4 p-4">
                
                <a class="h-screen h-auto w-max flex items-center justify-center bg-gray-100 p-4">

                    <img class="max-w-full max-h-screen object-contain " src="https://scontent.fcuz2-1.fna.fbcdn.net/v/t39.30808-6/469722884_987493533410051_1244318501380920598_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeGN7AiBp5GjzBPUhYPvgA1hn7zqFx5lcKmfvOoXHmVwqfLlEuYpSgaVq3M3xX5wRbSubE9wLLU_vCyWs4ej3yO6&_nc_ohc=rhhXEN8rfiEQ7kNvgGB9-Ch&_nc_zt=23&_nc_ht=scontent.fcuz2-1.fna&_nc_gid=ALw3_YyhBg0dVTfZ0TJT2Ko&oh=00_AYDPTQ43Xi6NkxkleFvp3-otuWAAJ8YBu8KYe9id1nXYLg&oe=675E6AFB">
                </a>
                <div class="bg-white flex flex-col justify-start p-6">
                    <a href="/inscripciones" class="text-blue-700 text-sm font-bold uppercase pb-4">Feria de innovacion tecnologica SAVIA INNOVATION</a>
                    <a href="/inscripciones" class="text-3xl font-bold hover:text-gray-700 pb-4">
                        ¡Forma parte de la Universidad Privada Domingo Savio!
                    </a>
                    <p class="text-sm pb-3">
                        Publicado el <span class="font-semibold">12 de diciembre de 2024</span>. 
                    </p>
                    <p class="pb-6">
                        El 12 de diciembre de 2024, a las 9:30 horas, se llevará a cabo la feria de innovación tecnológica "Savia Innovation 2024" en el campo deportivo de la Universidad Privada Domingo Savio (UPDS) en Cochabamba, Bolivia. Este evento reunirá a expertos, estudiantes y entusiastas de la tecnología para presentar y discutir las últimas innovaciones en el campo tecnológico.
                    </p>
                    <p class="pb-6">
                        Durante la feria, se exhibirán proyectos innovadores desarrollados por estudiantes y profesionales locales, ofreciendo una plataforma para el intercambio de ideas y la colaboración en el ámbito tecnológico. Además, se realizarán conferencias y talleres dirigidos por especialistas en diversas áreas de la tecnología, proporcionando oportunidades de aprendizaje y networking para los asistentes.
                    </p>
                    
                </div>
                
            </article>

        </section>
    </div>
    <app-footer></app-footer>
</body>

