<app-head></app-head>
<div class="home-content">
    <div class="home-container">
        <h1>UPDS</h1>
        <p>El departamento de Extensión Universitaria y RSU dentro el proceso educativo transformador contribuye a la formación académica integral de los futuros profesionales, y lo hace gestando actividades extracurriculares de interés cultural para la comunidad estudiantil.

            Coordina, organiza y prepara equipos deportivos para participar en campeonatos internos y externos.
            
            Gestiona la participación en diferentes festivales de teatro, música, danza y otros grupos artísticos y culturales en eventos locales, regionales y nacionales.
            
            Promueve los concursos y torneos regionales de debate, fotografía y poesía, entre otros, para la participación a nivel nacional e internacional.
            
            Organiza campañas de Interacción social, medio ambientales, acción social y de concientización en los estudiantes en particular y la comunidad universitaria en general.</p>
        <button (click)="getgithub()" id="try-now">PAG-GITHUB</button>
        <button (click)="getlinkedin()" id="explore">LINKEDIN</button>
    </div>
</div>  
