<menu></menu>
<div class="home-content">
    <div class="home-container">
        <h1>YO</h1>
        <p>Soy nuevo en esto de la programacion, esta sera mi primera pagina desarrolada en angular para esto fue fundamental aprender los conceptos de javascript de uso de componentes de links del uso de angular en general espero que esto acabe rapido asi puedo volver a bolivia. Igualmente vine a aprender nuevos conceptos y para esto tengo que hacer un mejor esfuerzo y hare lo maximo posible.</p>
        <button (click)="getgithub()" id="try-now">PAG-GITHUB</button>
        <button (click)="getlinkedin()" id="explore">LINKEDIN</button>
    </div>
</div>  
